$background-light : #f6f6f6;
$background-light-pro : #e7e7e7;
$background-dark : #233750;
$background-dark-pro : #172940;

$font-heading : #00a3d3;
$font-dark : #323232;
$font-primary : #818181;
$font-light : #c4c4c4;
$font-extra-light : #ffffff;

$underline : #00a3d3;
$underline-pro : #f26522;
$underline-border :#dcdcdc;

$tick : #1f9f8b;
$price : #494949;
